.navbar {
  background-color: #383838;
  color: #fff; }
  .navbar a:hover {
    color: #1EC9AC; }

.navbar-brand a {
  color: #fff;
  padding: 0.5rem 1.75rem;
  font-weight: bold; }

.navbar-end a {
  color: #fff; }

a.navbar-item {
  font-weight: bold;
  padding: 0.5rem 1.75rem; }
  @media screen and (max-width: 768px) {
    a.navbar-item {
      color: #383838; } }
