<div class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/">Angular App</a>
    </div>
    
      <button class="button navbar-burger" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active': toggleNav }">
        <span></span>
        <span></span>
        <span></span>
      </button>
      </div>

      <div class="navbar-end navbar-menu" [ngClass]="{'is-active': toggleNav }">
        <!-- specific to vue, else ul -->
        <a routerLink="/" class="navbar-item">Home</a>
        <a routerLink="faq" class="navbar-item">Features</a>
        <a routerLink="faq" class="navbar-item">About</a>
        <a routerLink="faq" class="navbar-item">FAQ</a>

        <div class="navbar-item">
          <p class="control">
            <a class="button is-primary is-outlined">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Join Now </span>
            </a>
          </p>
        </div>

      </div>
    </div>


<router-outlet></router-outlet>


<footer class = "footer is-primary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>&copy; Copyright 2018</p>
        <div class="column has-text-right">
          <a class="icon" href="#"><i class="fa fa-facebook"></i></a>
          <a class="icon" href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
